@model List<Model.EF.product>
@using Model.EF
@{
    var category = new product_category();
    ViewBag.Title = "Tất cả sản phẩm";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<section class="hero hero-page gray-bg padding-small">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-9 order-2 order-lg-1">
                <h1>Shop</h1><p class="lead text-muted">@category.prd_category_name</p>
            </div>
            <div class="col-lg-3 text-right order-1 order-lg-2">
                <ul class="breadcrumb justify-content-lg-end">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Shop</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<main>
    <div class="container">
        <div class="row">
            <!-- Sidebar-->
            <div class="sidebar col-xl-3 col-lg-4 sidebar">
                <div class="block">
                    <h6 class="text-uppercase">Danh Mục Sản Phẩm</h6>
                    <ul class="list-unstyled">
                        <li class="active">
                            <a href="#" class="d-flex justify-content-between align-items-center"><span>Danh Mục</span><small></small></a>
                            <ul class="list-unstyled">
                                @Html.Action("_ProductCategoryPartial", "ProductCategory")
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /Sidebar end-->
            <!-- Grid -->
            <div class="products-grid col-xl-9 col-lg-8 sidebar-left">
                <header class="d-flex justify-content-between align-items-start">
                    <span class="visible-items"> <strong> </strong> <strong> </strong></span>
                    <select id="sorting" class="bs-select">
                        <option value="newest">Mới nhất</option>
                        <option value="oldest">Giảm giá</option>
                        <option value="lowest-price">Giá thấp đến cao</option>
                        <option value="heigh-price">Giá cao đếp thấp</option>
                    </select>
                </header>
                <div class="row">
                    <!-- item-->
                    @foreach (var item in Model)
                    {
                        <div class="item col-xl-4 col-md-6">
                            <div class="product is-gray">
                                <div class="image d-flex align-items-center justify-content-center">
                                    @if (item.discount == null)
                                    {
                                        <div class="ribbon-info text-uppercase">Fresh</div> <!-- Fresh labels-->
                                    }
                                    else
                                    {
                                        <div class="ribbon ribbon-primary text-uppercase">Sale @item.discount%</div> <!-- Discount labels-->
                                    }
                                    <img src="/Contents/Images/@item.image" alt="product" class="img-fluid">
                                    <div class="hover-overlay d-flex align-items-center justify-content-center">
                                        <div class="CTA d-flex align-items-center justify-content-center">
                                            <a href="/them-gio-hang?productId=@item.product_id&quantity=1" class="add-to-cart"><i class="fa fa-shopping-cart"></i></a>
                                            <a href="/chi-tiet/@item.alias-@item.product_id" class="visit-product active"><i class="icon-search"></i>Xem chi tiết</a>
                                            <a href="#" data-toggle="modal" data-target="#@item.product_id" class="quick-view"><i class="fa fa-arrows-alt"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="title">
                                    @*<small class="text-muted">Tên danh mục</small>*@
                                    <a>
                                        <h3 class="h6 text-uppercase no-margin-bottom">@item.product_name</h3>
                                    </a><span class="price text-muted">@item.price.GetValueOrDefault(0).ToString("N0")<sup>đ</sup></span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!-- Pagination  -->
                @if (ViewBag.TotalPage >= 1)
                {
                    int displayMaxPages = (int)ViewBag.DisplayMaxPages;  // chỉ cho hiển thị chỉ mục 1-6 ptu;
                    int totalPage = (int)ViewBag.TotalPage;  // Total page is display
                    int currentPage = (int)ViewBag.StartIndex;



                    //  Create number links
                    var startPage = Math.Max(1, (currentPage - displayMaxPages) / 2);
                    var endPage = Math.Min(totalPage, (currentPage + displayMaxPages) / 2);

                    var link = "/tat-ca-san-pham";
                    <nav aria-label="page navigation example" class="d-flex justify-content-center">
                        <ul class="pagination pagination-custom">
                            <li class="page-item">
                                <a href="@link?page=@ViewBag.Prev" aria-label="Previous" class="page-link">
                                    <span aria-hidden="true">Prev</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>

                            @for (int i = startPage; i <= endPage; i++)
                            {
                                if (currentPage == i)
                                {
                                    <li class="page-item">
                                        <a href="@link?page=@i" class="page-link active">@i</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <a href="@link?page=@i" class="page-link">@i</a>
                                    </li>
                                }
                            }
                            <li class="page-item">
                                <a href="@link?page=@ViewBag.Next" class="page-link">
                                    <span aria-hidden="true">Next</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>

                }
                else
                {
                    <span>Không có bản ghi nào</span>
                }

            </div>
            <!-- / Grid End-->
        </div>
    </div>
</main>

<!-- Modal dialog-->
@foreach (var item in Model)
{
    <div id="@item.product_id" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade overview">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true"><i class="icon-close"></i></span>
                </button>
                <div class="modal-body">
                    @*<div class="ribbon-primary text-uppercase">Sale @item.discount%</div>*@   <!-- discount labels-->
                    <div class="ribbon-info text-uppercase">Fresh</div>
                    <div class="row d-flex align-items-center">
                        <div class="image col-lg-5"><img src="/Contents/Images/@item.image" alt="..." class="img-fluid d-block"></div>
                        <div class="details col-lg-7">
                            <h2>@item.product_name</h2>
                            <ul class="price list-inline">
                                <li class="list-inline-item current">
                                    @item.price<sup>đ</sup>
                                </li>
                            </ul>
                            <p>@item.description</p>
                            <ul class="CTAs list-inline">
                                <li class="list-inline-item">
                                    <a href="#" class="btn btn-template wide">
                                        <i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng
                                    </a>
                                </li>
                                @*<li class="list-inline-item">
                                        <a href="#" class="visit-product active btn btn-template-outlined wide">
                                            <i class="icon-heart"></i>Yêu thích
                                        </a>
                                    </li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


