@model List<FashionShop.Models.CartModel>
@using Model.EF;
@{
    var objOder = new order();
    ViewBag.Title = "Đặt hàng";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@section cssOrderPage{
    <link href="/Contents/css/StyleOrder.css" rel="stylesheet" />
}
@section jsFooter{
    <script src="/Contents/js/JsFileController/load-province-district.js"></script>
}
@section hidefooter {}


<div class="content">
    <div class="wrap">
        <div class="sidebar">
            <div class="sidebar-content">
                <div class="order-summary order-summary-is-collapsed">
                    <h2 class="visually-hidden">Thông tin đơn hàng</h2>
                    <div class="order-summary-sections">
                        <div class="order-summary-section order-summary-section-product-list" data-order-summary-section="line-items">
                            <table class="product-table">
                                <thead>
                                    <tr>
                                        <th scope="col"><span class="visually-hidden">Hình ảnh</span></th>
                                        <th scope="col"><span class="visually-hidden">Mô tả</span></th>
                                        <th scope="col"><span class="visually-hidden">Số lượng</span></th>
                                        <th scope="col"><span class="visually-hidden">Giá</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="product" data-product-id="@item.Product.product_id" data-variant-id="@item.Product.product_id">
                                            <td class="product-image">
                                                <div class="product-thumbnail">
                                                    <div class="product-thumbnail-wrapper">
                                                        <img class="product-thumbnail-image" alt="" src="~/Contents/Images/@item.Product.image">
                                                    </div>
                                                    <span class="product-thumbnail-quantity" aria-hidden="true">@item.Quantity</span>
                                                </div>
                                            </td>
                                            <td class="product-description">
                                                <span class="product-description-name order-summary-emphasis">@item.Product.product_name</span>
                                                <span class="product-description-variant order-summary-small-text">
                                                    @item.Product.description
                                                </span>
                                            </td>
                                            <td class="product-quantity visually-hidden">1</td>
                                            <td class="product-price">
                                                <span class="order-summary-emphasis">@item.Product.price.GetValueOrDefault(0).ToString("N0")<sup>đ</sup></span>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="order-summary-section order-summary-section-total-lines payment-lines" data-order-summary-section="payment-lines">
                            <table class="total-line-table">
                                <tbody>
                                    <tr class="total-line total-line-subtotal">
                                        <td class="total-line-name">Tạm tính</td>
                                        <td class="total-line-price">
                                            <span class="order-summary-emphasis" data-checkout-subtotal-price-target="33000000">
                                                @Model.Sum(x => x.Product.price.GetValueOrDefault(0) * x.Quantity).ToString("N0")<sup>đ</sup>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr class="total-line total-line-shipping">
                                        <td class="total-line-name">Phí ship</td>
                                        <td class="total-line-price">
                                            <span class="order-summary-emphasis" data-checkout-total-shipping-target="0">
                                                20,000<sup>đ</sup>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot class="total-line-table-footer">
                                    <tr class="total-line">
                                        <td class="total-line-name payment-due-label">
                                            <span class="payment-due-label-total">Tổng tiền</span>
                                        </td>
                                        <td class="total-line-name payment-due">
                                            <span class="payment-due-price" data-checkout-payment-due-target="33000000">
                                                @Model.Sum(x => x.Product.price.GetValueOrDefault(0) * x.Quantity + 20000).ToString("N0") <sup>đ</sup>
                                            </span>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="main-header">
                <a href="/" class="logo">
                    <h1 class="logo-text">Fashion Shop</h1>
                </a>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/gio-hang">Giỏ hàng</a>
                    </li>
                    <li>
                        Thông tin giao hàng
                    </li>
                </ul>
            </div>
            <div class="main-content">
                <div class="step">
                    <div class="step-sections " step="1">
                        <div class="section">
                            <div class="section-header">
                                <h2 class="section-title">Thông tin giao hàng</h2>
                            </div>
                            <div class="section-content section-customer-information ">
                                <input name="utf8" type="hidden" value="✓">
                                <div class="inventory_location_data">
                                    <input name="customer_shipping_district" type="hidden" value="">
                                    <input name="customer_shipping_ward" type="hidden" value="">
                                </div>
                                <p class="section-content-text">
                                    Bạn đã có tài khoản?
                                    <a href="/dang-nhap">Đăng nhập</a>
                                </p>
                                <div class="fieldset">
                                    <form action="@Url.Action("Order", "Cart")" method="post">
                                        <div class="field field-required field-show-floating-label">
                                            <div class="field-input-wrapper">
                                                <label class="field-label" for="billing_address_full_name">Họ và tên</label>
                                                <input placeholder="Họ và tên" autocapitalize="off" spellcheck="false" class="field-input" size="30" type="text" id="name" name="name" required="required">
                                            </div>
                                        </div>
                                        <div class="field  field-two-thirds field-show-floating-label  ">
                                            <div class="field-input-wrapper">
                                                <label class="field-label">Email</label>
                                                <input placeholder="Email" autocapitalize="off" spellcheck="false" class="field-input" size="30" type="email" id="email" name="email" required="required">
                                            </div>
                                        </div>
                                        <div class="field field-required field-third field-show-floating-label ">
                                            <div class="field-input-wrapper">
                                                <label class="field-label" for="billing_address_phone">Điện thoại</label>
                                                <input placeholder="Điện thoại" autocapitalize="off" spellcheck="false" class="field-input" size="30" maxlength="11" type="tel" id="phone" name="phone" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" required="required">
                                            </div>
                                        </div>
                                        <div class="field field-required field-show-floating-label  ">
                                            <div class="field-input-wrapper">
                                                <label class="field-label" for="billing_address_address1">Địa chỉ</label>
                                                <input placeholder="Địa chỉ" autocapitalize="off" spellcheck="false" class="field-input" size="30" type="text" id="address" name="address" required="required">
                                            </div>
                                        </div>

                                        <div class="field field-required field-show-floating-label">
                                            <div class="fieldset">
                                                <div class="field field-show-floating-label field-required field-third ">
                                                    <div class="field-input-wrapper field-input-wrapper-select">
                                                        <label class="field-label" for=""> Tỉnh/Thành phố </label>
                                                        @Html.DropDownList("order_province_id", new SelectList(new string[] { }), new { @class = "field-input", @id = "ddlProvince" })

                                                        @*<select class="field-input" id="ddlProvince" name="ddlProvince">
                                                                <option data-code="null" value="0" selected="">  Chọn tỉnh thành </option>
                                                            </select>*@
                                                    </div>
                                                </div>

                                                <div class="field field-show-floating-label field-required field-third ">
                                                    <div class="field-input-wrapper field-input-wrapper-select">
                                                        <label class="field-label" for="">Quận/Huyện</label>
                                                        @Html.DropDownList("order_district_id", new SelectList(new string[] { }), new { @class = "field-input", @id = "ddlDistrict" })
                                                    </div>
                                                </div>

                                                <div class="field field-show-floating-label field-required  field-third  ">
                                                    <div class="field-input-wrapper field-input-wrapper-select">
                                                        <label class="field-label" for="customer_shipping_ward">Phường</label>
                                                        <select class="field-input" id="customer_shipping_ward" name="customer_shipping_ward">
                                                            <option data-code="null" value="null" selected="">Chọn phường</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="field field-required  ">
                                            <div class="step-footer">
                                                <input name="utf8" type="hidden" value="✓">
                                                <button type="submit" class="btn btn-template">
                                                    <span class="btn-content">Hoàn tất đơn hàng</span>
                                                    <i class="btn-spinner icon icon-button-spinner"></i>
                                                </button>
                                                <a class="step-footer-previous-link" href="/gio-hang">
                                                    <svg class="previous-link-icon icon-chevron icon" width="6.7" height="11.3" viewBox="0 0 6.7 11.3"><path d="M6.7 1.1l-1-1.1-4.6 4.6-1.1 1.1 1.1 1 4.6 4.6 1-1-4.6-4.6z"></path></svg>
                                                    Giỏ hàng
                                                </a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
